@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');

*{
  box-sizing: border-box
}

.container{
  /* margin: 40px;
  margin-left: 250px; */
  width: 100vw;
  height:100vh;
  background-color: hsl(222, 26%, 31%);
  padding: 70px 565px;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  text-align: center
  ;
}

.heading{
 display: grid;
 grid-template-columns: 75px 800px;
}
.keys{
  background-color:  hsl(223, 31%, 20%);
  width: 28vw;
  height: 380px ;
  /* margin-left: 500px;  */
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  /* position: absolute; */
  /* right: 0; */
}
.different-color{
  background-color:  hsl(225, 21%, 49%);
  box-shadow: 1px 2px hsl(224, 28%, 35%);
  color: white;
}
.different-color:hover{
  background-color: hsl(224,28%,35%);
  box-shadow: 1px 2px hsl(225,21%,49%);
}
.equal{
  background-color: hsl(6, 63%, 50%);
  box-shadow: hsl(6,70%,34%);
  color: white;
}
.equal:hover{
  background-color: hsl(6,70%,34%) ;
  box-shadow: 1px 2px hsl(6,63%,50%);
}
.parent{
  display: grid;
  grid-template-columns: repeat(4,100px); 
  grid-auto-rows: minmax(30px, auto);
  
}
.parent-1{
  display: grid;
  grid-template-columns: 50% 50%;
}
 button{
  height: 50px;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: hsl(30,25%,89%);
  color: hsl(221, 14%, 44%);
  box-shadow: 1px 2px hsl(28, 16%, 65%);
  cursor: pointer;
  
}

 button:hover{
  background-color:hsl(28, 16%, 65%);
}

.main{
  width: 28vw;
  height: 100px;
  border-radius: 5px;
  background-color: hsl(224, 36%, 15%);
  /* margin-left: 320px ; */
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}
.lab{
  display: flex;
  margin-left: 250px;
  margin-bottom: 25px;
}

input[type=text]{
  text-align: right;
  font-size: 32px;
}  

.numtog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  /* margin-left: 10px;
  margin-bottom: 10px; */
}
.toggle{
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  position: relative;
  padding: 20px auto;
  margin-top: -30px;
  background-color:hsl(224, 36%, 15%); ;
  
  /* width: 60px; */
}
input[type=radio]{
  margin: 0;
}
label{
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 5;
  text-align: center;
  justify-self: center;
  color: hsl(222, 26%, 31%);
}
#label-1{
  width: 2px;

}
#label-2{
  width: 5px;
}
#label-3{
  width: 6px;
}
#switch-1{
  visibility: hidden;
}
#switch-2{
  visibility: hidden;
}
#switch-3{
  visibility: hidden;
}
.selector{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background:  hsl(6, 63%, 50%);
  position: absolute;
  margin-top: -17px;
  margin-left:5px;
  transition: left 0.5s ease-in-out;
  z-index: 1;
  text-align: center;
}

.switch-1:checked ~ .selector{
  margin-left: 5px;
  background-color:  hsl(6, 63%, 50%); ;
}
.switch-2:checked ~ .selector{
  margin-left: 25px;
  background-color: hsl(25, 98%, 40%) ;
}
.switch-3:checked ~ .selector{
  margin-left: 45px;
  background-color: hsl(176, 100%, 44%);
}


/* Theme Two Style */
.container.themetwo{
  background-color: hsl(0, 0%, 93%) ;
  color:hsl(60, 10%, 19%);
}
.main.themetwo{
  background-color: hsl(0, 0%, 90%);
}
.different-color.themetwo{
  background-color: hsl(185, 42%, 37%) ;
  box-shadow: 1px 4px hsl(185, 58%, 25%) ;
  color:hsl(60,10%,19%);
}
.equal.themetwo{
  background-color: hsl(25, 98%, 40%) ;
  box-shadow: 1px 2px  hsl(25, 99%, 27%);
  color: hsl(60,10%,19%);
}
.different-color:hover.themetwo{
  background-color: hsl(185,58%,25%);
  box-shadow: 1px 2px hsl(185,42%,37%);

}
.equal:hover.themetwo{
  background-color: hsl(25,99%,27%) ;
  box-shadow: 1px 2px hsl(25,98%,40%);
}
 button:hover.themetwo{
  background-color:hsl(28, 16%, 65%);
}
.toggle.themetwo{
  background-color: hsl(0, 5%, 81%);
}
.keys.themetwo{
       background-color: hsl(0, 5%, 81%) ;
}
button.themetwo{
  color:  black ;
  background-color: hsl(0,5%,81%) ;
  box-shadow: 1px 2px hsl(28,16%,65%);
}

/* Theme Three Style */
.container.themethree{
  background-color: hsl(268, 71%, 12%);
  color:hsl(52, 100%, 62%);
}
.main.themethree{
  background-color: hsl(268, 86%, 14%) ;
  color: hsl(52, 100%, 62%) ;
}
.different-color.themethree{
  background-color: hsl(281, 89%, 26%) ;
  box-shadow: 1px 2px hsl(285, 91%, 52%);
  color: white;
  
}
.equal.themethree{
  background-color: hsl(176, 100%, 44%);
  box-shadow: 1px 2px hsl(177, 92%, 70%);
  color: black;
}
.toggle.themethree{
  background-color: hsl(268, 71%, 12%) ;
}
.different-color:hover.themethree{
  background-color: hsl(285, 91%, 52%);
  box-shadow: 1px 2px hsl(281, 89%, 26%);
}
.equal:hover.themethree{
  background-color: hsl(177, 92%, 70%) ;
  box-shadow: 1px 2px hsl(177, 92%, 70%);
}
 button:hover.themethree{
  background-color:hsl(285, 91%, 52%);
}
.keys.themethree{
       background-color: hsl(268, 86%, 14%) ; 
}
button.themethree{
  color: hsl(52, 100%, 62%)  ;
  background-color: hsl(281,89%,26%);
  box-shadow: 1px 2px hsl(285,91%,52%);
}

/* mobile version */
/* @media (max-width:1023px){
  .container{
    
    width: 100vw;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 310px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  .heading{
    display: grid;
    grid-template-columns: 75px 800px;
   }
   .keys{
     background-color:  hsl(223, 31%, 20%);
     width: 37vw;
     height: 380px ;
     padding: 20px;
     margin-top: 20px;
     border-radius: 5px;
     
   }
   
   .parent{
     display: grid;
     grid-template-columns: repeat(4,85px); 
     grid-auto-rows: minmax(30px, auto);
     
   }
   .parent-1{
     display: grid;
     grid-template-columns: 50% 50%;
   }
    button{
     height: 50px;
     margin: 10px;
     font-size: 20px;
     border-radius: 10px;
     border: none;
     box-shadow: hsl(224, 28%, 35%);
     cursor: pointer;
     font-size: 14px;
   }
   
   .main{
     width: 37vw;
     height: 100px;
     border-radius: 5px;
     background-color: hsl(224, 36%, 15%);
     margin-bottom: 10px;
     border: none;
     outline: none;
     color: white;
     padding: 10px;
   }
   .lab{
     display: flex;
     margin-left: 190px;
     margin-bottom: 25px;
     
     
   }
}

@media (max-width:1200px){
  .container{
    
    width: 100vw;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 240px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  
  .heading{
    display: grid;
    grid-template-columns: 75px 800px;
   }
   .keys{
     background-color:  hsl(223, 31%, 20%);
     width: 37vw;
     height: 380px ;
     
     padding: 20px;
     margin-top: 20px;
     border-radius: 5px;
     
   }
   
   .parent{
     display: grid;
     grid-template-columns: repeat(4,85px); 
     grid-auto-rows: minmax(30px, auto);
     
   }
   .parent-1{
     display: grid;
     grid-template-columns: 50% 50%;
   }
    button{
     height: 50px;
     margin: 10px;
     font-size: 20px;
     border-radius: 10px;
     border: none;
     box-shadow: hsl(224, 28%, 35%);
     cursor: pointer;
     font-size: 14px;
   }
   
   .main{
     width: 37vw;
     height: 100px;
     border-radius: 5px;
     background-color: hsl(224, 36%, 15%);
     margin-bottom: 10px;
     border: none;
     outline: none;
     color: white;
     padding: 10px;
   }
   .lab{
     display: flex;
     margin-left: 190px;
     margin-bottom: 25px;
   }
} */


@media (max-width:769px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100vw;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 170px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  .lab{
    margin-left: 250px;
  }
  
  .heading{
   /* margin-left: 320px; */
   
   display: grid;
   grid-template-columns: 70px 800px;
  }
  .keys{
    background-color:  hsl(223, 31%, 20%);
    width: 425px;
    height: 380px ;
    /* margin-left: 500px;  */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    max-width: 100%;
    /* right: 0; */
  }
  .parent{
    display: grid;
    grid-template-columns: repeat(4,100px) ; 
    /* grid-auto-rows: minmax(30px, auto); */
    
  }
  .parent-1{
    display: grid;
    grid-template-columns: 50% 50%;
  }
   button{
    height: 50px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: hsl(224, 28%, 35%);
    cursor: pointer;
    max-width: 100%;
  }
  
  .main{
    width: 420px;
    height: 100px;
    border-radius: 5px;
    background-color: hsl(224, 36%, 15%);
    /* margin-left: 320px ; */
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    padding: 10px;
  }
}

@media (max-width:600px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100vw;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 100px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  
  .heading{
    display: grid;
    grid-template-columns: 75px 800px;
   }
   .keys{
     background-color:  hsl(223, 31%, 20%);
     width: 70vw;
     height: 380px ;
     /* margin-left: 500px;  */
     padding: 20px;
     margin-top: 20px;
     border-radius: 5px;
     /* position: absolute; */
     /* right: 0; */
   }
   
   .parent{
     display: grid;
     grid-template-columns: repeat(4,85px); 
     grid-auto-rows: minmax(30px, auto);
     
   }
   .parent-1{
     display: grid;
     grid-template-columns: 50% 50%;
   }
    button{
     height: 50px;
     margin: 10px;
     font-size: 20px;
     border-radius: 10px;
     border: none;
     box-shadow: hsl(224, 28%, 35%);
     cursor: pointer;
     font-size: 14px;
   }
   
   .main{
     width: 70vw;
     height: 100px;
     border-radius: 5px;
     background-color: hsl(224, 36%, 15%);
     margin-bottom: 10px;
     border: none;
     outline: none;
     color: white;
     padding: 10px;
   }
   .lab{
     display: flex;
     margin-left: 180px;
     margin-bottom: 25px;
     
     /* margin-left: -400px; */
   }
}

/* media screen 450px */
@media (max-width:450px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100%;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 60px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  
  .heading{
   /* margin-left: 320px; */
   
   display: grid;
   grid-template-columns: 75px 800px;
   grid-column-gap: 0;
   margin: 0 !important;
  }
  .keys{
    background-color:  hsl(223, 31%, 20%);
    width: 300px;
    height: 265px ;
    /* margin-left: 500px;  */
    
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    max-width: 100%;
    /* right: 0; */
  }
  .parent{
    display: grid;
    grid-template-columns: repeat(4,68px) ; 
    /* grid-auto-rows: minmax(30px, auto); */
    
  }
  .parent-1{
    display: grid;
    grid-template-columns: 50% 50%;
  }
   button{
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: hsl(224, 28%, 35%);
    cursor: pointer;
    max-width: 100%;
    font-size: 14px;
  }
  
  .main{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: hsl(224, 36%, 15%);
    /* margin-left: 320px ; */
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    padding: 10px;
  }
  
  .lab{
    margin-left: 100px
  }
    
}

@media (max-width:375px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100%;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 30px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
}


/* media screen 380px */
@media (max-width:380px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100%;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 40px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
}

@media (max-width:325px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100%;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 20px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  .heading{
   display: grid;
   grid-template-columns: 75px 800px;
   grid-column-gap: 0;
   margin: 0 !important;
  }
  .keys{
    background-color:  hsl(223, 31%, 20%);
    width: 280px;
    height: 265px ;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    max-width: 100%;
  }
  .parent{
    display: grid;
    grid-template-columns: repeat(4,63px) ; 
    /* grid-auto-rows: minmax(30px, auto); */
    
  }
  .parent-1{
    display: grid;
    grid-template-columns: 50% 50%;
  }
   button{
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: hsl(224, 28%, 35%);
    cursor: pointer;
    max-width: 100%;
    font-size: 14px;
  }
  
  .main{
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: hsl(224, 36%, 15%);
    /* margin-left: 320px ; */
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    padding: 10px;
  }
  
  .lab{
    margin-left: 80px
  }
}

@media (max-width:285px){
  .container{
    /* margin: 40px;
    margin-left: 250px; */
    width: 100%;
    height:100vh;
    background-color: hsl(222, 26%, 31%);
    padding: 70px 13px;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  
  
  .heading{
   /* margin-left: 320px; */
   
   display: grid;
   grid-template-columns: 75px 800px;
   grid-column-gap: 0;
   margin: 0 !important;
  }
  .keys{
    background-color:  hsl(223, 31%, 20%);
    width: 255px;
    height: 265px ;
    /* margin-left: 500px;  */
    
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    max-width: 100%;
    /* right: 0; */
  }
  .parent{
    display: grid;
    grid-template-columns: repeat(4,58px) ; 
    /* grid-auto-rows: minmax(30px, auto); */
    
  }
  .parent-1{
    display: grid;
    grid-template-columns: 50% 50%;
  }
   button{
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: hsl(224, 28%, 35%);
    cursor: pointer;
    max-width: 100%;
    font-size: 14px;
  }
  
  .main{
    width: 255px;
    height: 50px;
    border-radius: 5px;
    background-color: hsl(224, 36%, 15%);
    /* margin-left: 320px ; */
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    padding: 10px;
  }
  
  .lab{
    margin-left: 60px
  }
    
}


